DATABASE_URL="postgresql://..."
DATABASE_URL_UNPOOLED="postgresql://..."
APP_URL="https://freyafna.com"
NEXT_PUBLIC_APP_URL="https://freyafna.com"
SESSION_SECRET="your-32-character-secret"

# Resend SMTP Configuration
SMTP_HOST="smtp.resend.com"
SMTP_PORT="465"
SMTP_USER="resend"
SMTP_PASS="re_..."
EMAIL_FROM="FreyaFNA <advisor@freyafna.com>"
